<div class="#">
  <table class="table .table-responsive-md">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Header 1</th>
      <th scope="col">Header 2</th>
      <th scope="col">Header 3</th>
      <th scope="col">Header 4</th>
      <th scope="col">Header 5</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Row 1</th>
      <td>Data Item 1</td>
      <td>Data Item 2</td>
      <td>Data Item 3</td>
      <td>Data Item 4</td>
      <td>Data Item 5</td>
    </tr>
    <tr>
      <th scope="row">Row 2</th>
      <td>Data Item 1</td>
      <td>Data Item 2</td>
      <td>Data Item 3</td>
      <td>Data Item 4</td>
      <td>Data Item 5</td>
    </tr>
    <tr>
      <th scope="row">Row 3</th>
      <td>Data Item 3</td>
      <td>Data Item 2</td>
      <td>Data Item 3</td>
      <td>Data Item 4</td>
      <td>Data Item 5</td>
    </tr>
  </tbody>
 </table>
</div> 
