<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink="/loginpage" routerLinkActive="active">Goto Login Page</a><br>
    <a routerLink="/table" routerLinkActive="active">View Table</a><br>
    <a routerLink="/customtable" routerLinkActive="active">Create Custom Table</a><br>
    <a routerLink="/viewcustomtable" routerLinkActive="active">Show Custom Table</a>
  </nav>

<router-outlet></router-outlet>
